/* //////////////////////////////////////////////// */
/* <!-- FONDO CONTENEDOR --> */
/* //////////////////////////////////////////////// */

.nav_position {
    display: flex;
    justify-content: center;
    align-items: center;
}


.background_nav{
    background-color: rgb(126, 203, 255);
    
    width:50%;
    
    display: flex;
    justify-content:center;
    align-items:center;



}

/* CARROUSEL IMAGENES */
.carousel-inner{
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel{
    display: flex;
    justify-content:center;
    align-items: center;

    
}
#car_1{
    margin-left: -17em;
}
#car_2{
    margin-left: -21em;
}
#car_3{
    margin-left: -20em;
}

/* FOOTER */
#foot{
    background: #fbf6f6fd;
    min-height: 100px;
}
footer p{
    color: #0099fffd;
    text-align: center;
    
}
#iconos i{
    width: 20vw;
    font-size: 26px;
    padding: 0 8px;
    color: #0099fffd;
}

/* GEOLOCALIZACIÓN */
#maps{
    display: flex;
    justify-content: center;
    align-items: center;


}

/* FORMULARIO */
#formu{
    display: flex;
    justify-content: center;
   
}

#emailHelp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.central{
    display: flex;
    justify-content:center;
}

#f_btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width:20%;
}

/* MENU_ PARTE BEBIDAS, COMIDAS Y POSTRE */
.menu_title{
   background-color:#0099fffd;
   display: flex;
   justify-content:center;
   align-content: center;
   color: #fbf6f6fd;

}

.card-body img{
    width:50%;
}
.bebida{
    display: flex;
    justify-content:center;
}