/* //////////////////////////////////////////////// */
/* <!-- FONDO CONTENEDOR --> */
/* //////////////////////////////////////////////// */
.container {
    background-image: url(../img/Fotos/Logo_Baas.jpg);
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
   }
/* //////////////////////////////////////////////// */
/* ///////////////// */  
/* //////////////////////////////////////////////// */