/* //////////////////////////////////////////////// */
/* <!-- FONDO CONTENEDOR --> */
/* //////////////////////////////////////////////// */
.background{
    background-image: url(../img/Fotos/Logo_Baas.jpg);
   }
/* //////////////////////////////////////////////// */
/* ///////////////// */  
/* //////////////////////////////////////////////// */
.back_1{
    width: 40%;
    background-color: aliceblue;
}
.back_2{
    width: 40%;
    background-color: aliceblue;
}

/* CARROUSEL IMAGENES */
.carousel-inner{
    max-height: 39px;
}


  /* ////////////////// */
  iframe[seamless]{
    background-color: transparent;
    border: 0px transparent;
    padding: 0px;
    overflow: hidden;
}

